*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdy
*.tdo
*.swp
*.backup
*.fls
*.pdf
mpi.sty
*.cls
*.substvars
package/debian/mpi-latex-templates
package/debian/files
*.run.xml
*-self.bib
*-blx.bib
*.bcf
*.xwm
debhelper-build-stamp
mpi-latex-templates_*
package/debian/.debhelper/*
